@font-face {
  font-family: BallentinesFont;
  src: url(../fonts/ballantines_serial_medium.ttf);
  font-weight:400;
}
body {
	background-color: black;
  /*font-family: BallentinesFont, cursive !important;*/
}

.coming-soon {
	background-image: url('../images/swann_coming_soon_noback.png');
	background-repeat: no-repeat;
}

.logo-nav {
  display: inline-block !important;
  height: 30px;
  padding-right: 5px;
  margin-top: -10px;
}

.module-subtitle.story {
  line-height: 300%;
  margin-bottom: 30px;
}

.color-purple {
  color: mediumpurple;
}

.larger-text {
  font-size: 2em;
}

.large-text{
  font-size: 1.5em;
}

.min-padding-bottom{
  padding-bottom: 15px;
}

#transform {
  position:relative;
  height:250px;
  width:756px;
  margin:0 auto;
}

#transform img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes transform3FadeInOut {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

#transform img.white-transform {
  animation-name: transform3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}